<div class="textcenter">
    <h1>Welcome to Angular World</h1>
    <!-- <test-app></test-app> -->

<!-- <app-test2></app-test2>
<app-data-binding></app-data-binding> -->

</div> 

<div class="textcenter">
  <!-- <app-data-binding-assign></app-data-binding-assign>
  <app-one-way-component></app-one-way-component> -->
<!-- <app-two-way-assign></app-two-way-assign> -->

<!-- <app-parent></app-parent> -->
<!-- <app-ngif></app-ngif> -->
  <!-- <app-ng-style></app-ng-style> -->
  <!-- <app-ngfor></app-ngfor> -->
  <!-- <app-ngswitch></app-ngswitch> -->
  <!-- <app-ng-class></app-ng-class> -->
<!-- <app-ngforsinger></app-ngforsinger> -->

<!-- <p appCustomDire> This is Custom Para Directive </p> -->


<!-- <app-simple-form></app-simple-form> -->
<!-- <app-password-generator></app-password-generator> -->

<!-- <app-reactiveform></app-reactiveform> -->
<!-- <app-states-and-districts></app-states-and-districts> -->


<!-- <div *ngFor="let t of test">
  {{t}}
  </div> -->

  <!-- <app-todos></app-todos> -->
  <!-- <mat-slide-toggle>Toggle me!</mat-slide-toggle> -->
</div>

<!-- <app-age-calculator></app-age-calculator> -->
<!-- <app-reactive-form-assignment></app-reactive-form-assignment> -->

<!-- !-- <app-twowaycomponent></app-twowaycomponent> --> 
<!-- <app-rapidapi></app-rapidapi> -->
<!-- <app-pipe></app-pipe> -->

<!-- <app-filter-pipe></app-filter-pipe> -->

<!-- <div class="container">
  <div class="row">
    <div class="col-md-6">
      <app-comp1></app-comp1>
    </div>
    <div class="col-md-6">
      <app-comp2></app-comp2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <app-comp3></app-comp3>
    </div>
    <div class="col-md-6">
      <app-comp4></app-comp4>
    </div>
  </div>
</div> -->

<!-- <div class="textleft">
  <h1>Welcome to Angular World</h1>
<app-asyncpipe></app-asyncpipe>
</div> -->

<header>
  <nav>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a routerLink="/about" routerLinkActive="active" class="nav-link">About</a>
    </li>
    <li class="nav-item">
      <a  routerLink="/contact" routerLinkActive="active" class="nav-link">Contact</a>
    </li>
    <li class="nav-item">
      <a  routerLink="/products" routerLinkActive="active" class="nav-link">Product</a>
    </li>
    <li class="nav-item">
      <a  routerLink="/postlist" routerLinkActive="active" class="nav-link">Post</a>
    </li>
    <li class="nav-item">
      <a  routerLink="/register" routerLinkActive="active" class="nav-link">Register</a>
    </li>
    <li class="nav-item">
      <a  routerLink="/rapidapi" routerLinkActive="active" class="nav-link">Rapid API</a>
    </li>
    <li class="nav-item">
      <a  routerLink="/rxjs" routerLinkActive="active" class="nav-link">RxJS</a>
    </li>
  </ul>
  </nav>
</header> 

<!-- <input type="text" (blur)="sendData(val.value)"  #val  >
<input type="text" (blur)="ApplyColor($event)"   placeholder="Enter color"  >

<button class="btn btn-danger" (click)="OnDestroy()">DestroyComponent</button>

<app-hooks [fromChild]="firstName" [fromParentColor]="color" *ngIf="isDestroy"> -->
  <!-- <div [innerHTML]="content"></div> -->
  <!-- <h1 #child >This h1 tag comming from content projection</h1>
</app-hooks> -->

<!-- <app-wikipedia-search></app-wikipedia-search> -->
<!-- <app-registration-form></app-registration-form> -->
<!-- <app-giphy></app-giphy> -->

<button (click)="throwghErrors()">ThroError</button>
<router-outlet></router-outlet>
