<p>password-generator works!</p>


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 text-left rounded shadow py-5">
            <form #myform="ngForm" (ngSubmit)="OnGenerate(myform)">
                <div class="from-group">
                 <label for="Enterlength"> Enter Length : </label>
                 <input type="text" class="form-control" placeholder="Enterlength" name="Enterlength" 
                 id="Enterlength" ngModel required> <br>
                 <label for="UseLetter">Use Letter :  </label> <input type="checkbox" name="UseLetter" id="UseLetter" required> <br>
                 <label for="UseNumbers">Use Numbers : </label> <input type="checkbox" name="UseNumbers" id="UseNumbers" required> <br>
                 <label for="UseSymbols"> Use Symbols :</label> <input type="checkbox" name="UseSymbols" id="UseSymbols" required> <br>
                 <button  class="btn btn-success mt-2 mb-2" >Generate!</button> <br>
                 <div class="form-group">
                 <label for="Password">Your Password : </label>
                 <input type="text" class="form-control" name="Password" id="Password"
                  placeholder="Password" required ngModel>
                </div>
                </div>
            </form>
        </div>
    </div>
</div>